services:
  stremio:
    image: tsaridas/stremio-docker:latest
    container_name: stremio
    restart: unless-stopped

    ports:
      - "${STREMIO_PORT}:8080"

    volumes:
      - type: volume
        source: data
        target: /root/.stremio-server
        read_only: false
        volume:
          nocopy: true

    environment:
      NO_CORS: 1
      AUTO_SERVER_URL: 1

    mem_limit: 4096m

    healthcheck:
      test: ["CMD", "curl", "-f", "-s", "http://localhost:8080"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

volumes:
  data:
