# Environment variables for Docker Compose
TZ=
RASPBERRY_IP=
PUID=
PGID=

# Zigbee2MQTT configuration
USB_DEVICE=

# Ports configuration
DASHY_PORT=
MEALIE_PORT=
FILEBROWSER_PORT=
MQTT_PORT_1=
MQTT_PORT_2=
ZIGBEE2MQTT_PORT=
NGINX_PROXY_PORT=
ADGUARD_HOME_PORT_1=
ADGUARD_HOME_PORT_2=
ADGUARD_HOME_PORT_3=
