services:
  filebrowser:
    image: filebrowser/filebrowser
    container_name: filebrowser
    restart: unless-stopped

    ports:
      - ${FILEBROWSER_PORT}:80

    volumes:
      - type: bind
        source: /mnt/nas_disk/srv
        target: /srv
        read_only: false
        bind:
          create_host_path: true

      - type: bind
        source: /mnt/nas_disk/database
        target: /database
        read_only: false
        bind:
          create_host_path: true

      - type: bind
        source: /mnt/nas_disk/config
        target: /config
        read_only: false
        bind:
          create_host_path: true

    environment:
      - PUID=${PUID}
      - PGID=${PGID}

    healthcheck:
      test: ["CMD", "curl", "-f", "-s", "http://localhost:80"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s