services:
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    restart: unless-stopped

    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "${PIHOLE_PORT_1}:80/tcp"
      - "${PIHOLE_PORT_2}:443/tcp"

    volumes:
      - type: volume
        source: data
        target: /etc/pihole
        read_only: false
        volume:
          nocopy: true

      - type: bind
        source: ./config/etc-dnsmasq.d
        target: /etc/dnsmasq.d
        read_only: true
        bind:
          create_host_path: true

    environment:
      TZ: ${TZ}
      FTLCONF_webserver_api_password: ${PIHOLE_WEBPASS}
      FTLCONF_dns_listeningMode: all

    mem_limit: 1024m

    healthcheck:
      test: ["CMD", "dig", "+short", "+norecurse", "+retry=0", "@127.0.0.1", "pi.hole"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

volumes:
  data:
