services:
  zigbee2mqtt:
    image: ghcr.io/koenkk/zigbee2mqtt
    container_name: zigbee2mqtt
    restart: unless-stopped

    ports:
        - "${ZIGBEE2MQTT_PORT}:8080"

    volumes:
        - type: bind
          source: ./config/conf.yml
          target: /app/data/configuration.yaml
          read_only: false
          bind:
            create_host_path: true

        - type: bind
          source: /run/udev
          target: /run/udev
          read_only: true
          bind:
            create_host_path: false

    environment:
        - TZ=${TZ}

    devices:
        - ${USB_DEVICE}:/dev/ttyACM0

    healthcheck:
      test: ["CMD", "curl", "-f", "-s", "http://localhost:8080"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

    networks:
        - homeassistant

networks:
  homeassistant:
    external: true
